{% extends 'sub-base.html' %}

{% block content %}
<div class="container mt-2">
    <h2 class="mb-4 text-center">투표하기</h2>
    <div class="mb-3 row">
        <label for="name" class="col-form-label col-sm-3">보드 이름</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" value="{{ board.name }}" placeholder="보드의 이름을 입력하세요" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="start_time" class="col-sm-3 col-form-label">투표 시작 시각</label>
        <div class="col-sm-9">
            <input type="datetime-local" class="form-control" id="start_time" name="start_time"
                   value="{{ board.start_time|date:'Y-m-d H:i'}}" disabled>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="end_time" class="col-sm-3 col-form-label">투표 종료 시각</label>
        <div class="col-sm-9">
            <input type="datetime-local" class="form-control" id="end_time" name="end_time"
                   value="{{ board.end_time|date:'Y-m-d H:i'}}" disabled>
        </div>
    </div>
</div>

<!-- 질문들 -->
<div class="container mt-2">
{% for question in questions %}
    <div class="card mb-2 shadow">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <div class="fw-bolder">{{ question.text }}</div>
            </div>
            <div class="row">
                <div class="col-6 px-2">
                {% if question.media_type == 'image' %}
                    <img src="{{ question.media_url }}" alt="Image" class="img-thumbnail">
                {% elif question.media_type == 'video' %}
                    <iframe width="100%" height="360" src="https://www.youtube.com/embed/{{ question.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                    <p>-- 미디어가 없습니다 --</p>
                {% endif %}
                </div>
                <div class="col-6 px-2">
                    {% for choice in question.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   name="question-{{ question.id }}"
                                   id="choice-{{ choice.id }}"
                                   value="{{ choice.id }}">
                            <label class="form-check-label" for="choice-{{ choice.id }}">
                                {{ choice.text }}
                            </label>
                        </div>
                    {% empty %}
                        <li>이 질문에는 선택지가 없습니다.</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% empty %}
이 보드에는 아직 질문이 없습니다. "질문 만들기" 버튼을 눌러 만드세요.
{% endfor %}
</div>

<div class="text-center my-4">
    <button type="button" class="btn btn-primary" id="voteBtn">
        <i class="bi bi-send"></i>
        투표하기
    </button>
</div>


<script>
$(document).ready(function () {
    // 특정 폼의 선택된 값을 가져오는 함수
    function getSelectedChoice(questionId) {
        const selected = $(`input[name="question-${questionId}"]:checked`);
        if (selected.length > 0) {
            console.log(`Question ID: ${questionId}, 선택된 값: ${selected.val()}`);
            return selected.val();
        } else {
            console.log(`Question ID: ${questionId}, 선택된 값 없음`);
            return null;
        }
    }


    $("#voteBtn").on("click", function (e) {
        e.preventDefault();

        const ids = {{question_ids}};
        let completed = true;
        const answers = [];
        for (const qid of ids) {
            const a = getSelectedChoice(qid);
            if (!a) completed = false;
            answers.push(a);
        }
        console.log(`answers=${answers}`);

        if (!completed) {
            alert("투표하지 않은 항목이 있습니다.");
            return;
        }

        const body = [];
        for (const qid of ids) {
            body.push({
                question: qid,
                answer: getSelectedChoice(qid)
            });
        }

        // AJAX 요청
        $.ajax({
            url: "{% url 'api_vote_board' %}", // 서버의 URL
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(body),
            headers: {
                "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function (response) {
                alert(response.message || "투표가 성공적으로 완료되었습니다!");
                window.location.href = "/"; // dashboard로
            },
            error: function (xhr, status, error) {
                alert("투표 등록 중 오류가 발생했습니다.");
                console.error("Error:", error);
            },
        });
    });
});

</script>

{% endblock %}