{% block content %}
<h2>보드 생성 페이지</h2>

<form method="post">
    {% csrf_token %}
    <label for="name">보드 이름:</label>
    <input type="text" name="name" id="name" required>
    <br>


    <h3>투표 생성하기</h3>
    <div id="questions">

    </div>
    <button type="button" id="addQuestion">투표 주제 추가하기</button>
    <br>
    <button type="submit">생성 완료</button>
</form>

<script>
    function createQuestionElement() {
        const questionDiv = document.createElement('div');
        questionDiv.className = 'question';
        questionDiv.innerHTML = `
            <label for="question-text">투표 주제:</label>
            <input type="text" name="questions[]" placeholder="질문할 내용을 입력하세요" required>
            <br>
            <label for="media-type">참고용 미디어:</label>
            <select name="media_type[]">
                <option value="">---</option>
                <option value="image">이미지</option>
                <option value="video">유튜브 영상</option>
            </select>
            <br>
            <label for="media-url">미디어 URL:</label>
            <input type="url" name="media_url[]" placeholder="미디어 URL을 삽입하세요">
            <br>
            <button type="button" class="deleteQuestion">투표 삭제하기</button>
        `;
        return questionDiv;
    }

    document.getElementById('addQuestion').addEventListener('click', function () {
        const questionContainer = document.getElementById('questions');
        const newQuestion = createQuestionElement();
        questionContainer.appendChild(newQuestion);
    });

    document.getElementById('questions').addEventListener('click',
        function (event) {
            if (event.target.classList.contains('deleteQuestion')) {
                event.target.parentElement.remove();
            }
        });
</script>
{% endblock %}